##**Day-1 coding**

In [5]:
print("This is my first day coding python")

This is my first day coding python

#loops in python

In [7]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

squares of natural number

In [8]:
for i in range(1,11):
  print(i*i)   #squares of 10 natural numbers

1
4
9
16
25
36
49
64
81
100

#Functions

In [11]:
num=int(input("Enter the length:\n"))   #taking input from user
def area(a):                            #defining a function
  return a*a
print("area of square:",area(num))      #calling a function

Enter the length:
9
area of square: 81

#homework:Find area of circle

#Lists

In [19]:
fruits=["apple","banana","mango","litchi","kiwi","watermelon"]    #defining a list
print(fruits)                                                     #printing
#accessing list
print(fruits[0])
print(fruits[-1])
print(fruits[2])

#Adding or removing elements from list
fruits.append("grapes")
print(fruits)
fruits.remove("mango")
print(fruits)

['apple', 'banana', 'mango', 'litchi', 'kiwi', 'watermelon']
apple
watermelon
mango
['apple', 'banana', 'mango', 'litchi', 'kiwi', 'watermelon', 'grapes']
['apple', 'banana', 'litchi', 'kiwi', 'watermelon', 'grapes']

#Sets and Tuples

#Dictionary in Python

In [33]:
student={
    "name":"Nhuja",
    "age":30,
    "gender":"male",
    "address":"Kathmandu"
}
#Accessing values from Dictionary
print(student["name"])
print(student.items())
print(student.keys())
print(student.values())

#updating Dictionary
student["age"]=20
print(student)

#Adding new value pair in existing dictionary
student["country"]="Nepal"
print(student)

#Deleting items from dictionary
del student["age"]
print(student)

Nhuja
dict_items([('name', 'Nhuja'), ('age', 30), ('gender', 'male'), ('address', 'Kathmandu')])
dict_keys(['name', 'age', 'gender', 'address'])
dict_values(['Nhuja', 30, 'male', 'Kathmandu'])
{'name': 'Nhuja', 'age': 20, 'gender': 'male', 'address': 'Kathmandu'}
{'name': 'Nhuja', 'age': 20, 'gender': 'male', 'address': 'Kathmandu', 'country': 'Nepal'}
{'name': 'Nhuja', 'gender': 'male', 'address': 'Kathmandu', 'country': 'Nepal'}